html {
    scroll-behavior: smooth;
}

html,
body {
  height: auto;
  color: var(--font-color);
}

:root {
    --spacing-1: 8px;
    --spacing-2: 12px;
    --spacing-3: 16px;
    --spacing-4: 24px;
  
    --border-radius: 12px;
  
    --font-color: #323232;
}

#rotating{
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: skyblue;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    min-height: 0;
    transition: min-height 0.15s ease-in;
}

#main-content{
    display: none;
    height: 100vh;
    background-color: springgreen;
    padding: 0 var(--spacing-3);
    width: 900px;
    margin: 0 auto;
    flex-direction: column;
}

p {
    display: inline-block;
    vertical-align: top;
    margin: 0;
  }
  
.word {
    position: absolute;
    width: 220px;
    opacity: 0;
}
  
.letter {
    display: inline-block;
    position: relative;
    transform: translateZ(25px);
    transform-origin: 50% 50% 25px;
}
  
.letter.out {
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
  
.letter.behind {
    transform: rotateX(-90deg);
}
  
.letter.in {
    transform: rotateX(0deg);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#logo {
    margin: 0;
}

h2{
    margin: 0;
    margin-bottom: var(--spacing-2);
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding:0 ;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    
}

nav {
    display: flex;
    align-items: center;
    padding: var(--spacing-3) 0;
}

.navigation-items {
    display: flex;
    list-style-type: none;
    padding: 0;
    align-items: center;
    margin: 0;
    margin-left: auto;
}

.navigation-item{
    margin: var(--spacing-1);
}

a {
    color: var(--font-color);
    text-decoration: none;
    font-weight: 600;
}