html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding:0 ;
    width: 100%;
    max-width: 100%;
    display: flex;
    background-image: linear-gradient(62deg, #8EC5FC, #E0C3FC);
    
}

:root {
    --spacing-1: 8px;
    --spacing-2: 12px;
    --spacing-3: 16px;
    --spacing-4: 24px;
  
    --border-radius: 12px;

    --font-color: #323232;
}

/*Rotating words landing page*/
#rotating{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100vh;
    font-family: 'Space Mono', monospace;
    font-size: 4em;
    gap: 45px;
    transition: all 4s ease-in 2s;
    background-image: linear-gradient(62deg, #8EC5FC, #E0C3FC);

    opacity: 1;
}

#rotating p{
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding-top: 45vh;

}

#emptyP{
    width: 20%;
}

.word {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    text-align: center;
    opacity: 0;
}
  
.letter {
    display: inline-block;
    position: relative;
    transform: translateZ(25px);
    transform-origin: 50% 50% 25px;
}
  
.letter.out {
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
  
.letter.behind {
    transform: rotateX(-90deg);
}
  
.letter.in {
    transform: rotateX(0deg);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.fade-out {
    animation : out-fader 0.5s cubic-bezier(0.75, 0.5, 1, 1) 2 forwards;
}

@keyframes out-fader {
    10%{
        opacity: 0;
    }
    100%{
        opacity: 0;
        height: 0%;
        overflow: hidden;
    }
}

/*Main website content*/

#main-content{
    position: absolute;
    height: 0vh;
    width: 100%;
    padding: 0px;
    margin: 0;
    background-image: linear-gradient(62deg, #8EC5FC, #E0C3FC);
    opacity: 0;
    overflow: hidden;

}

.fade-in {
    animation: in-fader 0.5s cubic-bezier(0.75, 0.5, 1, 1) forwards;
}

@keyframes in-fader {
    10%{
        height: 100vh;
    }
    100%{
        display: flex;
        opacity: 1;
        height: 100vh;
    }
        
}

/*Div containing the logo*/

div .logo{
    padding-left: 25px;
    width: auto;
    height: 25%;
}

/*The logo itself*/

#logo {
    font: 700 4em/1 "Oswald", sans-serif;
    letter-spacing: 0;
    padding: .25em 0 .325em;
    margin: 0 auto;
    text-shadow: 0 0 80px rgba(255,255,255,.5);

    /* Clip Background Image */
    background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;

    /* Animate Background Image */
    -webkit-text-fill-color: transparent;
    animation: aitf 80s linear infinite;

    /* Activate hardware acceleration for smoother animations */
    transform: translate3d(0,0,0);
    backface-visibility: hidden;

}

/* Animate Background Image */

@keyframes aitf {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}

h2{
    margin: 0;
    margin-bottom: var(--spacing-2);
}

nav {
    display: flex;
    align-items: center;
    padding: var(--spacing-3) 0;
    flex-wrap: nowrap;
    max-height: 15%;
}

.navbar{
    margin-left: auto; 
}

.navigation-items {
    display: flex;
    list-style-type: none;
    padding: 0;
    align-items: center;
    margin-right: 25px;
}

.navigation-item{
    margin: var(--spacing-3);
    text-align: center;
}

a {
    color: var(--font-color);
    text-decoration: none;
    font-weight: 600;
}

.menu-btn{
    display: none;
}

.menu-btn {
    position: absolute;
    top: 5%;
    right: 5%;
    padding: 0;
    width: 30px;
    cursor: pointer;
    z-index: 2;
}


.menu-btn .line {
    padding: 0;
    width: 30px;
    background: #000;
    height: 2px;
    margin: 5px 0;
    transition: all 700ms cubic-bezier(.9, 0, .33, 1);
}

.menu-btn .line.line--1 {
    width: 30px;
    transform: rotate(0) translateY(0);
}

.menu-btn .line.line--1.line-cross {
    width: 30px;
    transform: rotate(45deg) translateY(10px);
   background: rgba(0,0,0,0.6);
}

.menu-btn .line.line--2 {
    width: 28px;
    transform: translateX(0);
}

.menu-btn .line.line--2.line-fade-out {
    width: 28px;
    transform: translate(30px);
    opacity: 0;
}

.menu-btn .line.line--3 {
    width: 20px;
    transform: rotate(0) translateY(0);
}

.menu-btn .line.line--3.line-cross {
    width: 30px;
    transform: rotate(-45deg) translateY(-10px);
   background: rgba(0,0,0,0.6);
}


@media screen and (max-width: 600px){
    .navbar {
        overflow: hidden;
        position: absolute;
        top:0%;
        margin: 0%;
        right: -100%;
        height: 100vh;
        width: 50%;
        transition: all 800ms cubic-bezier(.8, 0, .33, 1);
        border-radius: 0% 0% 50% 100%;
    }

    .menu-btn{
        display: block;
    }

    .nav-open {
        right: 0%;
        border-radius: 0% 0% 0% 0%;
        background: rgba(255, 255, 255, 0.6);
    }

    .navigation-items {
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        margin: 0%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: all 900ms cubic-bezier(.9, 0, .33, 1);
    }

    .navigation-items .fade-in {
        opacity: 1;
        transform: translateX(0px);
    }
    
    .navigation-item {
        transition: all 300ms cubic-bezier(.9, 0, .33, 1);
    }
    
    .navigation-items .navigation-item:hover {
        color: rgba(0, 0, 0, .5);
    }
    
    
}

div .main{
    display: flex;
    height: 100%;
}

.about-me-container{
    width: 100%;
}
#my-photo{
    margin-left: 25px;
    width: 25%;
    max-width: 300px;
    min-width: 75px;
    border-radius: 50%;
}